.main-title {
  font-size: 3.3rem;
  color: rgb(149, 238, 208);
  font-family: "Roboto";
  font-weight: 500;
  padding: 60px 0 40px 0;
}
main {
  text-align: center;
}
.container {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 120px;
}
